:root {
  --first-logo-color: #2196f3;
  --logo-dark-color: #000000;
  --logo-light-color: #fff;
  --highlight-color: #2196f3;
  --back-dark-color: #2f303a;
  --back-light-color: #fff;
  --back-darker-color: #f5f4fa;
  --link-p-text-color: #757575;
  --main-text-color: #212121;
  --icon-color: #afb1b8;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.list-style {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

h2,
h3 {
  color: var(--main-text-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.logo .logo--dark-color {
  color: var(--logo-dark-color);
}

.logo .logo--light-color {
  color: var(--logo-light-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list__text {
  display: inline-block;
  padding: 32px 0 32px 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__text:hover, .navigation-list__text:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.navigation-list__text--current {
  position: relative;
  color: var(--highlight-color);
}

.navigation-list__text--current::after {
  position: absolute;
  bottom: -1px;
  width: 100%;
  content: '';
  display: block;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list {
  margin-left: auto;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list__item {
  margin-right: 50px;
}

.contacts-list__item:last-child {
  margin-right: 0px;
}

.contacts {
  color: var(--link-p-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contacts-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0 32px 0;
  font-size: 14px;
  font-weight: 500;
}

header {
  background-color: var(--back-light-color);
  border-bottom: 1px solid #ececec;
}

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--back-dark-color);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero__text {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--back-light-color);
  margin: 0 0 30px 0;
}

.hero__button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-color: var(--highlight-color);
  border: none;
  color: var(--back-light-color);
  padding: 10px 32px;
  border-radius: 4px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  letter-spacing: 0.03em;
  background-color: var(--back-light-color);
}

.icon-about {
  width: 70px;
  height: 70px;
}

.about-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list li {
  margin-right: 30px;
}

.about-list li:last-child {
  margin-right: 0px;
}

.about__h-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.about__p-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: var(--link-p-text-color);
}

.thumb::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.activity {
  padding-bottom: 94px;
  background-color: var(--back-light-color);
  letter-spacing: 0.03em;
}

.activity__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__list > li:not(:last-child) {
  margin-right: 30px;
}

.img-card {
  position: relative;
}

.img-card__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.img-card__thumb-head {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--back-light-color);
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--back-darker-color);
  letter-spacing: 0.03em;
}

.our-team__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-card {
  background-color: var(--back-light-color);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card:last-child {
  margin-right: 0px;
}

.card-text {
  padding: 30px 32px;
}

.card-text__head {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-text-color);
}

.card-text__p {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--link-p-text-color);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--highlight-color);
  fill: #fff;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
  letter-spacing: 0.03em;
}

.regular-customers__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.client {
  margin-left: 30px;
  margin-top: 50px;
  -ms-flex-preferred-size: calc((100% - 180px) / 6);
      flex-basis: calc((100% - 180px) / 6);
}

.client a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client a:hover, .client a:focus {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
}

.client:last-child {
  margin-right: 0;
}

footer {
  background-color: var(--back-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}

footer li:last-child {
  margin-bottom: 0px;
}

.address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}

.address__text--light-color {
  color: var(--back-light-color);
}

.address__text--darker-color {
  color: var(--link-p-text-color);
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-block {
  -ms-flex-preferred-size: calc((50% - 45px) / 2);
      flex-basis: calc((50% - 45px) / 2);
}

.footer-block:last-child {
  -ms-flex-preferred-size: calc(50% - 15px);
      flex-basis: calc(50% - 15px);
}

.footer-block .social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--back-light-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-block .social-icons__link:hover, .footer-block .social-icons__link:focus {
  background-color: var(--highlight-color);
}

.footer-block__call {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--back-light-color);
  margin-bottom: 20px;
}

.mailing-label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--back-light-color);
  padding-bottom: 20px;
}

.mailing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing-items input {
  padding-left: 16px;
  height: 50px;
  width: calc(100% - 216px);
  margin-right: 12px;
  background: transparent;
  color: var(--back-light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing-items button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  background: var(--highlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--back-light-color);
  border: transparent;
}

.mailing-items button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-close:hover .modal-close__icon,
.modal-close:focus .modal-close__icon {
  fill: var(--highlight-color);
}

.modal-close__icon {
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.modal-form button {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 55px;
  background-color: var(--highlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--back-light-color);
}

.modal-form__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--link-p-text-color);
  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field--end-indent {
  margin-bottom: 20px;
}

.form-field__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form-field__textarea::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-group {
  width: 100%;
  position: relative;
}

.modal-group--border {
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-group--border:focus {
  border: 1px solid var(--highlight-color);
}

.modal-group--border:focus + .form-field__icon {
  fill: var(--highlight-color);
}

.form-field__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(12px, -50%);
          transform: translate(12px, -50%);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-p-text-color);
  margin-bottom: 30px;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__checkbox:checked + .policy__checkbox-icon {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  -webkit-transition-property: border, background-color, background-image;
  transition-property: border, background-color, background-image;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--highlight-color);
  text-decoration: underline;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.projects-buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--back-darker-color);
  color: var(--main-text-color);
}

.projects-buttons .first {
  background-color: var(--highlight-color);
  color: var(--back-light-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-buttons__item {
  margin-right: 8px;
}

.projects-buttons__item:last-child {
  margin-right: 0px;
}

.projects-button {
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover, .projects-button:focus {
  background-color: var(--highlight-color);
  color: var(--back-light-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-set__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 27px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-set__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  position: relative;
  display: inline-block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__caption,
.card:focus .card__caption {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--back-light-color);
}

.card__head {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__p-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-p-text-color);
}

.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  margin-top: -5px;
}
/*# sourceMappingURL=main.css.map */