.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-container {
  background-color: var(--back-light-color);

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 998;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .icon-close-burger {
    display: none;
  }

  &.is-open {
    z-index: 999;
  }

  &.is-open .icon-close-burger {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }
}

// .navigation {
//   display: flex;
// }

.navigation-list {
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    padding-top: 48px;
    padding-left: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation-list__text {
  display: inline-block;
  font-weight: 500;
  color: var(--main-text-color);
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 380px) {
    font-size: 30px;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--highlight-color);
    fill: var(--highlight-color);
  }
}

.navigation-list__text--current {
  position: relative;
  color: var(--highlight-color);

  &::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: -1px;
      width: 100%;

      content: '';
      display: block;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}

.navigation-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
