.projects {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.projects-buttons {
  // display: flex;
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 50px;
  }

  button {
    // display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--back-darker-color);
    color: var(--main-text-color);

    @media screen and (max-width: 400px) {
      font-size: 10px;
      padding: 5px 18px;
    }

    @media screen and (min-width: 401px) and (max-width: 480px) {
      font-size: 14px;
    }
  }

  .first {
    background-color: var(--highlight-color);
    color: var(--back-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-buttons__item {
  display: inline-block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }

  @media screen and (max-width: 767px) {
    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-top: 15px;
    }
  }
}

.projects-button {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--highlight-color);
    color: var(--back-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects-set__item {
  box-sizing: border-box;
  margin-left: 27px;
  margin-top: 30px;

  border: 1px solid #eeeeee;
  border-top: none;

  flex-basis: calc((100% - 90px) / 3);

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card {
  position: relative;
  display: inline-block;
  height: 100%;
  
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .card__caption,
  &:focus .card__caption {
    transform: translateY(-100%);
  }

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__overlay {
  position: relative;
  overflow: hidden;

  & img {
    width: 450px;
  }

  & img {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }
  }

  & img {
    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }
}

.card__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  // display: flex;
  align-items: center;
  justify-content: center;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--back-light-color);
}

.card__head {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__p-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-p-text-color);
}

.border {
  padding: 20px 24px;
  // border: 1px solid #eeeeee;
  // border-top: none;
}
