.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-buttons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 50px;

  button {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--back-darker-color);
    color: var(--main-text-color);
  }

  .first {
    background-color: var(--highlight-color);
    color: var(--back-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-buttons__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

.projects-button {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--highlight-color);
    color: var(--back-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-set__item {
  box-sizing: border-box;
  margin-left: 27px;
  margin-top: 30px;

  flex-basis: calc((100% - 90px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card {
  position: relative;
  display: inline-block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .card__caption,
  &:focus .card__caption {
    transform: translateY(-100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--back-light-color);
}

.card__head {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__p-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-p-text-color);
}

.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  margin-top: -5px;
}