:root {
  --first-logo-color: #2196f3;
  --logo-dark-color: #000000;
  --logo-light-color: #fff;
  --highlight-color: #2196f3;
  --back-dark-color: #2f303a;
  --back-light-color: #fff;
  --back-darker-color: #f5f4fa;
  --link-p-text-color: #757575;
  --main-text-color: #212121;
  --icon-color: #afb1b8;
}
