.about {
  letter-spacing: 0.03em;
  background-color: var(--back-light-color);
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about-list {
  margin-bottom: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    .thumb:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.thumb {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

.about__h-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-text-color);

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.about__p-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: var(--link-p-text-color);
}

.thumb::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
