.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .modal-close__icon,
  &:focus .modal-close__icon {
    fill: var(--highlight-color);
  }
}

.modal-close__icon {
  width: 11px;
  height: 11px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  button {
    display: block;
    justify-content: center;
    align-self: center;
    padding: 10px 55px;

    background-color: var(--highlight-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--back-light-color);
  }
}

.modal-form__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--link-p-text-color);

    margin-bottom: 4px;
  }

  input {
    width: 100%;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
}

.form-field--end-indent {
  margin-bottom: 20px;
}

.form-field__textarea {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  &::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-group {
  width: 100%;
  position: relative;
}

.modal-group--border {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
  border: 1px solid var(--highlight-color);

    + .form-field__icon {
      fill: var(--highlight-color);
    }
  }  
}

.form-field__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(12px, -50%);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-p-text-color);
  margin-bottom: 30px;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .policy__checkbox-icon {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.policy__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid var(--main-text-color);
  border-radius: 2px;

  transition-property: border, background-color, background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--highlight-color);
  text-decoration: underline;
}