.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero-480.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero-960.jpg);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero-768.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero-1536.jpg);
    }
  }

  @media screen and (min-width: 769px) and (max-width:1600px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero-1600.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero-3200.jpg);
    }
  }

  @media screen and (min-width: 1601px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Supermen-3200.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero-6400.jpg);
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--back-dark-color);

  letter-spacing: 0.06em;
  text-align: center;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
}

.hero__text {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--back-light-color);
  margin: 0 0 30px 0;

  @media screen and (max-width: 479px) {
    font-size: 20px;
    line-height: 1.61;
  }

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-color: var(--highlight-color);
  border: none;
  color: var(--back-light-color);
  padding: 10px 32px;
  border-radius: 4px;
}
