.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--back-darker-color);
  letter-spacing: 0.03em;
}

.our-team__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.our-team-card {
  background-color: var(--back-light-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0px;
  }
}

.card-text {
  padding: 30px 32px;
}

.card-text__head {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-text-color);
}

.card-text__p {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--link-p-text-color);
}
