.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
  letter-spacing: 0.03em;
}

.regular-customers__head {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.client {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 180px) / 6);

  a {
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      fill: var(--highlight-color);
      border-color: var(--highlight-color);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
